
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>This page has not yet been implemented</p>

<div>
    @if(User.IsInRole("Student"))
    {
        @Html.ActionLink("","StudentUpdate")
    }
    @if (User.IsInRole("Coordinator"))
    {
        @Html.ActionLink("Invite a user", "Invite")
        <br />
    }
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Set SMTP Information", "SMTP")
    }
</div>
