
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CP_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


@if(ViewBag.PassConfirm != null)
{
    <h3>@Html.Raw(ViewBag.PassConfirm)</h3>
}