
@{
    ViewBag.Title = "Reset Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success</h2>

<p>Your password has successfully been reset.</p>
<p>You should now be able to @Html.ActionLink("Log In", "Index", "Login", null, null)</p>