@{
    ViewBag.Title = "Submitted";
}
<br />
<br />
<p>
    Your application has been successfully submitted.
</p>
<div>
    <META HTTP-EQUIV="Refresh" CONTENT="5;URL=@(Url.Action("Listings", "Coop"))">
</div>
