@using (Html.BeginForm("Upload", "Coop", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <br />
    <p>
        <b>
            On this page please upload any document that the Internship posting has required you to upload.
            At a minimum you must upload a Resume. There is a area for you to leave a message with your Co-op Coordinator 
            on why you wish to be considered for this postion. For any documentation that doesn't have an area for you to 
            upload it please use the other upload area.
        </b>
    </p>
    <br />
    <br />
    <div class="form-group">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.ValidationMessage("ResumeUpload")
        <label for="Resume" class="col-sm-2 control-label">Resume</label>
        <input type="file" class="single" name="ResumeUpload" accept=".doc, .docx, .pdf, application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/msword" /><br />
        <label for="CoverLetter" class="col-sm-2 control-label">Cover Letter</label>
        <input type="file" class="single" name="CoverLetterUpload" accept=".doc, .docx, .pdf, application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/msword" /><br />
        <label for="DriversLicense" class="col-sm-2 control-label">Drivers License</label>
        <input type="file" class="single" name="DriverLicenseUpload" accept=".doc, .docx, .pdf, application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/msword" /><br />
        <label for="Other" class="col-sm-2 control-label">Other</label>
        <input type="file" class="single" name="OtherUpload" accept=".doc, .docx, .pdf, application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/msword" /><br />

    </div>
    <div class="form-group" id="appform">
        <label for="Message" class="col-sm-2 control-label">Message</label>
        <textarea name="Message"></textarea>                
    </div>

    <button class="btn btn-default">Upload</button>
}
