body {
    background-image: url('/Images/evening-sky-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

/* Because 280px felt a little too small */
textarea {
    max-width: 500px;
}


/* Fresh CSS 
.sidebar {
	background-color: white;
	border-right: 1px solid black;
}
.nav-pills > li {
	float: none;
}*/

.container-fluid {
    background-color: rgba(255, 255, 255, 0.85);
}

.btn-primary {
    background-color:#003893;
    color:#f5f5f5;
}

.btn-primary:hover {
    background-color:#003893;
    color:#E1CC33;
}

.navbar-inverse {
    background-color:#003893;
    color: #E1CC33;
}

.navbar-inverse .navbar-brand {
    color:#f5f5f5;
}

.navbar-inverse .navbar-brand:hover {
    color:#E1CC33;
}

.navbar-inverse .navbar-nav > li > a {
    color:#f5f5f5;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color:#E1CC33;
}